<ion-view title="Dog Shop" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ZTNL4i0xTfay2WEZR1nY_Littlest_Pet_Shop_2012_TV_series_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="dogShop-heading8" style="color:#000000;">Pet shop mobile application</h3>
    <h1 id="dogShop-heading9" style="color:#000000;"></h1>
    <div id="dogShop-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please select your option</p>
    </div>
    <ion-list id="dogShop-list6">
      <ion-item class="item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="item in myDogs" href="#/page1/dogs/{{item.id}}">
      <img ng-src="img/{{item.img}}.jpg" style="border-radius: 15px;   border: 2px solid #999999;">
      <h2>Name: {{item.Name}}</h2>
      <p>Type: {{item.Type}}</p>
      <p>{{item.desc.substring(0, 100) + "..."}}</p>

    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
