<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home" href="#/page1/page1" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cart" icon="ion-android-cart" href="#/page1/page2" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Shop" icon="ion-ios-pricetags" href="#/page1/page3" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Updates" icon="ion-ios-paper"  href="#/page1/updates">
      <ion-nav-view name="updates"></ion-nav-view>
     </ion-tab>
    <ion-tab title="Account" icon="ion-person-stalker" href="#/page1/page5" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
